@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  /* box-sizing: border-box; */
}

.header {
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 10px 40px;
  align-items: center;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px 0px;
}

.header h1 {
  margin: 0px;
  font-size: 20px;
  cursor: pointer;
}

.header a {
  text-decoration: none;
  color: black;
}

.notfound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  font-weight: bold;
}
